.row{
  margin-left: 15px;
  margin-right: 15px;
}

.rightcolm, .leftcolm {
    background-color: rgba(150, 150, 128, 0.7);
    z-index: 1;
    height: calc(100vh);
    overflow: auto;
  }

.leftcolm::-webkit-scrollbar{
  display: none;
}
.rightcolm::-webkit-scrollbar{
  display: none;
}

.searchbar{

}

.headings{
  text-align: center;
  font-size: 28px;
}