{% extends "encyclopedia/layout.html" %}

{% block title %}
{% if listcheck %}
Encyclopedia
{% else %}
{{titleurl}}
{% endif %}
{% endblock %}

{% block sidebar %}
{% if textshow %}
    <a href="/delete">
        <div class="lhomebutton">
            Delete Entry
        </div>
    </a>
    {% endif %}
{% endblock %}


{% block body %}

    {% if deletecheck %}
        <div class="tocent">
            {{suretxt|safe}}<br>
            <a href ="/">
                <div class="no">
                    No
                </div>
            </a>
            <br>
            <form action="{% url 'homepage:delete' %}" method="POST">
                {% csrf_token %}
                {{delapp}}
                <input type="submit" value="Yes">
            </form>
            <br>
        </div>
        
    {% endif %}

    {% if listcheck %}
    <h1>All Pages</h1>
    <ul>
        {% for entry in entries %}
            <li><a href="/wiki/{{ entry }}" style = "color:black" >{{entry}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if customcheck %}
    <form action="{% url 'homepage:custom' %}" method="POST">
        {% csrf_token %}
        {{ customapp }}
        <br>
        <div class = "preview"><input type="submit" value="Preview"></div>
    </form>
    {{fulltxt|safe}}
    {% endif %}
    {% if editcheck %}
    {{righthead|safe}}    
    <form action="{% url 'homepage:edit' %}" method="POST">
        {% csrf_token %}
        Title :
        {{title}}
        {{ editapp }}
        <br>
        <input type="submit" value="Save Changes">
    </form>
    {% endif %}
    
    {% if textshow %}
    {{fulltxt|safe}}
    {% endif %}

{% endblock %}