{% extends "encyclopedia/layout.html" %}

{% block title %}
{% if listcheck %}
Encyclopedia
{% else %}
{{titleurl}}
{% endif %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block body %}
    {% if listcheck %}
    <h1>All Pages</h1>
    <ul>
        {% for entry in entries %}
            <li><a href="/wiki/{{ entry }}" style = "color:black" >{{entry}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if customcheck %}
    <form action="{% url 'homepage:custom' %}" method="POST">
        {% csrf_token %}
        {{ customapp }}
        <br>
        <div class = "preview"><input type="submit" value="Preview"></div>
    </form>
    {% endif %}
    {% if editcheck %}
    {{righthead|safe}}    
    <form action="{% url 'homepage:edit' %}" method="POST">
        {% csrf_token %}
        Title :
        {{title}}
        {{ editapp }}
        <br>
        <input type="submit" value="Save Changes">
    </form>
    {% endif %}
    {{fulltxt|safe}}
{% endblock %}