{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'encyclopedia/styles.css' %}">
        <link rel='icon' href="{% static 'encyclopedia/favico.png' %}" type='image/x-icon'/ >
        <meta name="viewport" content="width=device-width", initial-scale=1.0">  
        <style>
        .pagebg{
            position: fixed;
            background-image: url({% static 'encyclopedia/bg.jpg' %});
            background-size: cover;
            height: 100vh;
            width: 100vw;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: -1;
            overflow-x: hidden;
          }
        </style>
        </head>
    <body>
        <div class=pagebg></div>
        <div class=topbar>
            <div class="searchbar topsearchbar">
                <div class="topbutton">
                    <a href="/"><div class="homebutton"><img src="{% static 'encyclopedia/homeicon.png' %}" width="30px">      HOME</div></a>
                </div>             
                <form action="{% url 'homepage:index' %}" method="POST">
                    {% csrf_token %}
                    {{ searchcont }}
                    <input type="submit" value="SEARCH">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xl-3 d-none d-lg-block leftcolm">
                <a href="/">
                    <div class="lhomebutton">
                        <img src="{% static 'encyclopedia/homeicon.png' %}" width="30px">&nbsp; Wiki Home
                    </div>
                </a>
                <div class="headings">Search Our Wiki</div> 
                <div class="searchbar">                 
                    <form action="{% url 'homepage:index' %}" method="POST">
                        {% csrf_token %}
                        {{ searchcont }}<br>
                        <input type="submit" value="SEARCH">
                    </form>
                </div> 
                <a href="/customlanguage">
                    <div class="lhomebutton">
                        Custom MD language
                    </div>
                </a>
                <a href="/addoredit">
                    <div class="lhomebutton">
                        Add/Modify Entries
                    </div>
                </a>
                <a href="/wiki/git">
                    <div class="lhomebutton">
                        Git
                    </div>
                </a>
                {%block sidebar %}         
                {%endblock%}
            </div>
            <div class="col-lg-1 col-xl-1 d-none d-lg-block">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 rightcolm">
                {% block body %}
                {% endblock %}
                
            </div>
            <div class="col-lg-1 col-xl-1 d-none d-lg-block">
            </div>
    </body>
</html>